Repository gregorias/pycodec2: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, toml-taplo-lint, yaml-prettier, yapf

markdownlint:
  tags: documentation style
  run: markdownlint {staged_files}

toml-taplo-lint:
  tags: style
  run: taplo check {staged_files}

yaml-prettier:
  tags: style
  run: prettier -c {staged_files}

yapf:
  tags: style
  run: yapf -i -r {staged_files} && git add {staged_files}

chore: bump Python requirement
  pyproject.toml
Due: toml-taplo-lint

Update build.yml
  .github/workflows/build.yml
  setup.py
Due: yaml-prettier, yapf

fix
  .github/workflows/build.yml
  setup.py
Due: yaml-prettier, yapf

build: add Windows build
  .github/workflows/build.yml
  setup.py
Due: yaml-prettier, yapf

chore: release 4.0.1
  pyproject.toml
Due: toml-taplo-lint

Add aarch64 build for pycodec2
  .github/workflows/build.yml
Due: yaml-prettier

chore: release 4.1.0
  pyproject.toml
Due: toml-taplo-lint

chore: release 3.1.0
  pyproject.toml
Due: toml-taplo-lint

chore: update deps
  Pipfile.lock
  pyproject.toml
Due: toml-taplo-lint

Create FUNDING.yml
  .github/FUNDING.yml
Due: yaml-prettier

chore: update deps
  Pipfile.lock
Due: none

build: update checkout
  .github/workflows/build.yml
Due: yaml-prettier

build: update setup-python
  .github/workflows/build.yml
Due: yaml-prettier

build: update build
  .github/workflows/build.yml
Due: yaml-prettier

build: update cibuildwheel
  .github/workflows/build.yml
Due: yaml-prettier

build: update download-artifact
  .github/workflows/build.yml
Due: yaml-prettier

build: update mac
  .github/workflows/build.yml
Due: yaml-prettier

chore: release 4.1.1
  pyproject.toml
Due: toml-taplo-lint

build: update cibuildwheel
  .github/workflows/build.yml
  Pipfile
  Pipfile.lock
  pyproject.toml
Due: toml-taplo-lint, yaml-prettier

chore: fix license
  pyproject.toml
Due: toml-taplo-lint

Path conditions:
  markdownlint: any of: *.md
  toml-taplo-lint: any of: *.toml
  yaml-prettier: any of: *.{yml,yaml}
  yapf: any of: *.py
