Repository gregorias/pycodec2: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, toml-taplo-lint

markdownlint:
  tags: documentation style
  run: markdownlint {staged_files}

toml-taplo-lint:
  tags: style
  run: taplo check {staged_files}

docs: update DEV.md
  DEV.md
Due: markdownlint

chore: set PYTHONDEVMODE
  .envrc
Due: none

chore: add additional lints
  lefthook.yml
Due: none

fix: delete fragments deprecated for codec2
  pycodec2/codec2.pxd
  pycodec2/pycodec2.pyx
Due: none

feat: add a working build pipeline
  .gitignore
  DEV.md
  Pipfile
  Pipfile.lock
  lefthook.yml
  pyproject.toml
  setup.py
Due: markdownlint, toml-taplo-lint

docs: specify build location
  DEV.md
Due: markdownlint

chore: update deps
  Pipfile
  Pipfile.lock
Due: none

chore: update Pipfile
  Pipfile
Due: none

chore: update dev Python to 3.12
  Pipfile
  Pipfile.lock
Due: none

feat: add an e2e local test
  dev/test
  lefthook.yml
  pycodec2/__init__.py
  pycodec2/pycodec2.pyx
  pyproject.toml
  setup.py
  test/data/trashcan-1200-decoded.raw
Due: toml-taplo-lint

docs: update README
  README.md
Due: markdownlint

chore: add a build workflow
  .github/workflows/build.yml
  pyproject.toml
Due: toml-taplo-lint

chore: add cut-off-new-version
  dev/cut-off-new-version
  dev/rune2etest
Due: none

chore: reorganize dev/
  dev/bin/cut-off-new-version
  dev/bin/test
Due: none

chore: release
  README.md
  dev/bin/cut-off-new-version
  pyproject.toml
Due: markdownlint, toml-taplo-lint

docs: document release process
  .github/workflows/build.yml
  DEV.md
Due: markdownlint

chore: update dev deps
  Pipfile.lock
Due: none

chore: add codec2-integration-tests
  codec2-integration-tests/Dockerfile
  codec2-integration-tests/README.md
  codec2-integration-tests/test.sh
  lefthook.yml
  test/data/trashcan-1200-decoded-macos.raw
  test/data/trashcan-1200-decoded-ubuntu.raw
  test/test_trashcan.py
Due: markdownlint

chore: update dev deps
  Pipfile
  Pipfile.lock
  lefthook.yml
Due: none

docs: add ticket templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/custom-issue.md
Due: markdownlint

ci: build my own codec2
  .github/workflows/build.yml
Due: none

chore: fix typo
  lefthook.yml
Due: none

chore: release 3.0.1
  pyproject.toml
Due: toml-taplo-lint

docs: update release instructions
  DEV.md
  Pipfile
  Pipfile.lock
  dev/bin/cut-off-new-version
  dev/bin/release-new-version-tag
Due: markdownlint

chore: update deps
  Pipfile.lock
Due: none

Fix issues with macos arm64
  .github/workflows/build.yml
  MANIFEST.in
Due: none

Adding sudo to make install
  .github/workflows/build.yml
Due: none

Adding missing numpy import_array init call
  pycodec2/pycodec2.pyx
Due: none

Setting upper cap on numpy 2.0.0 as it currently fails build
  pyproject.toml
Due: toml-taplo-lint

chore: update dev to Python 3.13
  Pipfile
  Pipfile.lock
  codec2-integration-tests/Dockerfile
  dev/test
  lefthook.yml
  pyproject.toml
  test/data/trashcan-1200-decoded-macos15-m3.raw
  test/test_trashcan.py
Due: toml-taplo-lint

chore: release 3.0.3
  pyproject.toml
Due: toml-taplo-lint

chore: update GitHub build deps
  .github/workflows/build.yml
Due: none

chore: release 3.0.4
  pyproject.toml
Due: toml-taplo-lint

chore: fix GitHub build
  .github/workflows/build.yml
Due: none

chore: upgrade to Numpy 2
  Pipfile
  Pipfile.lock
  README.md
  pycodec2/pycodec2.pyx
  pyproject.toml
  setup.py
Due: markdownlint, toml-taplo-lint

chore: release 4.0.0
  pyproject.toml
Due: toml-taplo-lint

Path conditions:
  markdownlint: any of: *.md
  toml-taplo-lint: any of: *.toml
